[Desktop Entry]
Type=Application
Name=LintabOS touch setup (Xfce)
Exec=lintab-touch-setup xfce
OnlyShowIn=XFCE;
NoDisplay=true
X-GNOME-Autostart-enabled=true
